{% extends 'core/base.html' %}
{% load static %}

{% block content %}
	<style>
		.total_value_month{
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
			margin: 0 10px;
		}

		.total_value_month--value{
			display: block;
			text-align: center;
			font-size: 32px;
			font-weight: bold;
		}

		.total_value_month--value--gasto{
			border-bottom: #e74c3c solid 5px;
		}

		.total_value_month--value--renda{
			border-bottom: #2ecc71 solid 5px;
		}

		.total_value_container{
			display: flex;
			justify-content: center;
			margin-bottom: 25px;
		}

	</style>
	<script src="https://code.highcharts.com/highcharts.js"></script>

	<div class="total_value_container">
		<div class="total_value_month">
			<span class="total_value_month--value total_value_month--value--gasto">{{total_gastos_value}}</span>
		</div>
	
		<div class="total_value_month">
			<span class="total_value_month--value total_value_month--value--renda">{{total_renda_value}}</span>
		</div>
	</div>

	{{line_chart.as_html}}

	<table class="table table-hover" style="margin-top: 25px">
		<thead>
			<tr>
				<th>Tag</th>
				<th>Description</th>
				<th>Value</th>
				<th>InitialDate</th>
				<th>FinalDate</th>
			</tr>
		</thead>
		<tbody>
			{% for payment in payments %}
				<tr>
					<td>{{payment.tag.description}}</td>
					<td>{{payment.description}}</td>
					<td>{{payment.value}}</td>
					<td>{{payment.initial_date}}</td>
					<td>{{payment.final_date}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}