{% extends 'core/base.html' %}
{% load static %}

{% block content %}
	<style>
		.total_value_month{
		    display: flex;
		    flex-direction: column;
		    justify-content: center;
		    align-items: center;
		}

		.total_value_month--value{
			display: block;
			text-align: center;
			font-size: 32px;
			font-weight: bold;
			border-bottom: #2ecc71 solid 5px;
		}

		.total_value_month--description{
			display: block;
			text-align: center;
		}
	</style>
	<script src="https://code.highcharts.com/highcharts.js"></script>

	<div class="total_value_month">
		<span class="total_value_month--description">totais de gastos este mês</span>
		<span class="total_value_month--value">{{total_value}}</span>
		
	</div>

	<b>Data Atual: </b> {{data_atual}}

	<button>Proximo mes</button>

	{{line_chart.as_html}}

	<table class="table table-hover" style="margin-top: 25px">
		<thead>
			<tr>
				<th>Description</th>
				<th>Value</th>
				<th>InitialDate</th>
				<th>FinalDate</th>
			</tr>
		</thead>
		<tbody>
			{% for payment in payments %}
				<tr>
					<td>{{payment.description}}</td>
					<td>{{payment.value}}</td>
					<td>{{payment.initial_date}}</td>
					<td>{{payment.final_date}}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}